li {
  list-style: none;
}

a {
  text-decoration: none;
}

textarea {
  resize: none;
}

@media (min-width: 992px) {
  .search-form {
    width: 25%;
    transition: 0.3s ease-in-out;
  }

  .search-form:focus-within {
    width: 50%;
  }

  .tags {
    border-bottom: none !important;
  }

  #create,
  #avatar {
    left: unset;
    right: 0;
  }
}

@media (max-width: 992px) {
  .user-sidebar {
    border-left: none !important;
  }

  #create,
  #avatar {
    left: 0;
    right: unset;
  }
}
